doctype html
// Mirrored from softalab.com/CreditFirm/CreditFirm-v1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 Feb 2023 08:49:55 GMT
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title CreditFirm Bank
  link(rel='shortcut icon', href='assets/images/fav.png', type='image/x-icon')
  link(rel='stylesheet', href='assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/css/fontawesome.min.css')
  link(rel='stylesheet', href='assets/css/jquery-ui.css')
  link(rel='stylesheet', href='assets/css/plugin/nice-select.css')
  link(rel='stylesheet', href='assets/css/plugin/magnific-popup.css')
  link(rel='stylesheet', href='assets/css/plugin/slick.css')
  link(rel='stylesheet', href='assets/css/arafat-font.css')
  link(rel='stylesheet', href='assets/css/plugin/animate.css')
  link(rel='stylesheet', href='assets/css/style.css')
  script(src='//code.tidio.co/xxr7tdomtkxns0ntmrf56fl45twwgnzp.js', async='')
// start preloader
#preloader.preloader
// end preloader
// Scroll To Top Start
a.scrollToTop(href='javascript:void(0)')
  i.fas.fa-angle-double-up
// Scroll To Top End
// header-section start
header.header-section
  .overlay
    .container
      .row.d-flex.header-area
        nav.navbar.navbar-expand-lg.navbar-light
          a.navbar-brand(href='index.html') 
            span(style='font-size: 45px; font-weight: bold;') Credit 
            span(style='color: #4743c9; font-size: 45px; font-weight: bold;') Firm
          button.navbar-toggler.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#navbar-content')
            i.fas.fa-bars
          #navbar-content.collapse.navbar-collapse.justify-content-end
            //- ul.navbar-nav.mr-auto.mb-2.mb-lg-0
            //-   li.nav-item.dropdown.main-navbar
            //-     a.nav-link.dropdown-toggle(href='javascript:void(0)', data-bs-toggle='dropdown', data-bs-auto-close='outside') Help
            //-     ul.dropdown-menu.main-menu.shadow
            //-       li
            //-         a.nav-link(href='help-center.html') Help Center
            //-       li
            //-         a.nav-link(href='help-center-category.html') Help Category
            .right-area.header-action.d-flex.align-items-center.max-un
              a.login(href='/login') Login
              a.cmn-btn(href='/signup')
                | Sign Up
                i.icon-d-right-arrow-2
// header-section end
// Banner Section start
section.banner-section.index
  .overlay
    .shape-area
      img.obj-1(src='assets/images/banner-box.png', alt='image')
      img.obj-2(src='assets/images/banner-human.png', alt='image')
      img.obj-3(src='assets/images/banner-rocket.png', alt='image')
      img.obj-4(src='assets/images/banner-clock.png', alt='image')
    .banner-content
      .container.wow.fadeInUp
        .content-shape
          img.obj-1(src='assets/images/banner-wallet.png', alt='image')
        .row.justify-content-between.align-items-center
          .col-lg-5.col-md-6
            .main-content
              .top-area.section-text
                h5.sub-title Trusted by over 3M customers
                h1.title The Bank you asked for
                p.xlr
                  | Quickly and easily send, receive and request money online with CreditFirm. Get a customised solution to fit your business needs.
              .bottom-area.d-xxl-flex
                a.cmn-btn(href='/signup') Open a Free Account
                a.cmn-btn.active.mfp-iframe.popupvideo(href='https://www.youtube.com/watch?v=Djz8Nc0Qxwk') See How it Works
          
          .col-xxl-4.col-xl-5.col-md-6
            .send-money
              form(action='#')
                .currency-area
                  .left-side
                    span.mdr You send
                    h5 1,000
                  .right-side
                    select(style='display: none;')
                      option(value='1') USD
                      option(value='2') GBP
                      option(value='3') AUS
                    .nice-select(tabindex='0')
                      span.current USD
                      ul.list
                        li.option.selected(data-value='1') USD
                        li.option(data-value='2') GBP
                        li.option(data-value='3') AUS
                .calculation
                  .head-area
                    img(src='assets/images/icon/conversion.png', alt='image')
                    span.mdr.highlight Show calculation
                  .calculation-details
                    .single-area.d-flex.align-items-center
                      .left-area
                        i.fas.fa-minus
                        span.mdr 10.04 USD
                      .right-area
                        span.mdr Our fee
                    .single-area.d-flex.align-items-center
                      .left-area
                        i.fas.fa-equals
                        span.mdr 989.96 USD
                      .right-area
                        span.mdr We&rsquo;ll Convert
                    .single-area.d-flex.align-items-center
                      .left-area
                        i.fas.fa-times
                        span.mdr 1.3947
                      .right-area
                        span.mdr.highlight CreditFirm Rate
                .currency-area
                  .left-side
                    span.mdr Recipient gets
                    h5 1,380.69
                  .right-side.recipient
                    select(style='display: none;')
                      option(value='1') AUS
                      option(value='2') USD
                      option(value='3') GBP
                    .nice-select(tabindex='0')
                      span.current AUS
                      ul.list
                        li.option.selected(data-value='1') AUS
                        li.option(data-value='2') USD
                        li.option(data-value='3') GBP
                .btn-area.mt-40
                  a.cmn-btn.w-100(href='/login') Get Started
  .counter-section
    .container.wow.fadeInUp
      .row.cus-mar
        .col-xl-3.col-md-3.col-sm-6
          .single-area.d-flex.align-items-center.justify-content-center
            .text-area.text-center
              h2
                span.counter 20
                span +
              p Supported Currencies
        .col-xl-3.col-md-3.col-sm-6
          .single-area.d-flex.align-items-center.justify-content-center
            .text-area.text-center
              h2
                span.counter 50
                span +
              p Available Countries
        .col-xl-3.col-md-3.col-sm-6
          .single-area.d-flex.align-items-center.justify-content-center
            .text-area.text-center
              h2
                span.counter 70,000
                span +
              p Successful Payment
        .col-xl-3.col-md-3.col-sm-6
          .single-area.d-flex.align-items-center.justify-content-center
            .text-area.text-center
              h2
                span.counter 7
                span /
                span.counter 24
                span +
              p Support Team
// Banner Section end
// Global Payment start
section.global-payment
  .overlay.pt-120.pb-120
    .container.wow.fadeInUp
      .row.justify-content-center
        .col-lg-6
          .section-header.text-center
            h5.sub-title Send money in a heartbeat
            h2.title The World At Your Fingertips
            p Sign up to start enjoying our Bank features
      .row
        .col-xxl-6.col-xl-5.order-xl-0.order-1
          .image-area.d-rtl.left-side
            img.max-un(src='assets/images/global-payment-img.png', alt='images')
        .col-xxl-6.col-xl-7
          .row.cus-mar
            .col-sm-6.col-6
              .single-item
                img(src='assets/images/icon/global-payment-icon-1.png', alt='icon')
                h5 Peace of Mind
                p
                  |   our main aim is giving our partners the most conveinent saving having 100% access to your funds
            .col-sm-6.col-6
              .single-item
                img(src='assets/images/icon/global-payment-icon-2.png', alt='icon')
                h5 Business-Ready
                p  deposit, invest a banking app you can trust our online banking provides you with a 24/7 network  
                 
            .col-sm-6.col-6
              .single-item
                img(src='assets/images/icon/global-payment-icon-3.png', alt='icon')
                h5 100% Transparent
                p we let you control your money send and control your funds anytime you want to 
                  
            .col-sm-6.col-6
              .single-item
                img(src='assets/images/icon/global-payment-icon-4.png', alt='icon')
                h5 International Network
                p We give you the ability to move money internationally accross the globe
                
// Global Payment end
// Our Solutions start
section.our-solutions
  .overlay.pt-120.pb-120
    .container.wow.fadeInUp
      .row.justify-content-center
        .col-lg-6
          .section-header.dark-sec.text-center
            h5.sub-title High speeds. Low fees. No hassle.
            h2.title All Your Payments In One Place
            p
              | Get used to low fees and great exchange rates on international money transfers.Expand your business worldwide
      .row.cus-mar
        .col-xl-3.col-6
          .single-item
            img(src='assets/images/icon/our-solutions-icon-1.png', alt='icon')
            h5 Payments
            p we are marshaling the talent and capabilities of our institution like never before to help communites of color build wealth and strong financial futures.
        .col-xl-3.col-6
          .single-item
            img(src='assets/images/icon/our-solutions-icon-2.png', alt='icon')
            h5 Collections
            p easy to access and simple to manage, a savings account could be right for you.
        .col-xl-3.col-6
          .single-item
            img(src='assets/images/icon/our-solutions-icon-3.png', alt='icon')
            h5 Conversions
            p Convertion and mild conversion rate all here to facilitate your transactions.
        .col-xl-3.col-6
          .single-item
            img(src='assets/images/icon/our-solutions-icon-4.png', alt='icon')
            h5 Global Account
            p Enjoy checking 24/7 digital banking and no minimum opening deposits.
// Our Solutions end
// How it Works start
section.how-it-works
  .overlay.pb-120
    .container.wow.fadeInUp
      .row.justify-content-center
        .col-lg-8
          .section-header.text-center
            h5.sub-title How it works?
            h2.title Just few steps to start
            p It&apos;s easier than you think. Follow 3 simple easy steps
      .row.cus-mar
        .col-xl-3.col-sm-6.col-6
          .single-item.first.text-center
            img(src='assets/images/icon/how-works-icon-1.png', alt='icon')
            h5 Register for free
            p Simply sign up online for free and verify your identity
        .col-xl-3.col-sm-6.col-6
          .single-item.second.text-center
            img(src='assets/images/icon/how-works-icon-2.png', alt='icon')
            h5 Set up your transfer
            p Add a recipient&apos;s details and choose which currency ...
        .col-xl-3.col-sm-6.col-6
          .single-item.first.text-center
            img(src='assets/images/icon/how-works-icon-3.png', alt='icon')
            h5 Make your payment
            p Send us your funds with a bank transfer and we&apos;ll notify..
        .col-xl-3.col-sm-6.col-6
          .single-item.text-center
            img(src='assets/images/icon/how-works-icon-4.png', alt='icon')
            h5 You&apos;re all done!
            p We inform you when the money has been sent and can also ...
// How it Works end
// App Download start
section.app-download
  .overlay.pb-120
    .container.wow.fadeInUp
      .row.justify-content-between.align-items-center
        .col-lg-6.order-lg-0.order-1
          .image-area.d-rtl.left-side
            img.max-un(src='assets/images/app-download-img.png', alt='images')
        .col-lg-5
          .section-area
            h5.sub-title App Download
            h2.title Fast, Secure Money Transfers
            p
              | Access your account via your mobile phone. View balance, transfer funds, view transactions wherever you are.
          ul.features
            li
              img(src='assets/images/icon/check.png', alt='icon')
              |                                 Simple few Taps to send money
            li
              img(src='assets/images/icon/check.png', alt='icon')
              |                                 View transaction history.
            li
              img(src='assets/images/icon/check.png', alt='icon')
              |                                 Get instant App notifications.
          .brand-area.mt-40
            a(href='javascript:void(0)')
              img(src='assets/images/GooglePlay-btn.png', alt='icon')
            a(href='javascript:void(0)')
              img(src='assets/images/apple-btn.png', alt='icon')
// App Download end
// Testimonials start
section.testimonials
  .overlay.pt-120.pb-120
    .container
      .row.justify-content-center
        .col-lg-6
          .section-header.text-center
            h5.sub-title Testimonials
            h2.title What Our Customers Say
            p 245m+ happy clients all around the world. Don&rsquo;t just take our word for it
    .container-fluid.wow.fadeInUp
      .testimonials-carousel
        .single-slide
          .single-content
            .start-area
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
            h5.title-area Great Fast Reliable Service
            p.xlr
              | &quot;CreditFirm has always been a reliable solution for my business. I am very satisfied with their speedy service and professional customer care. I highly recommend CreditFirm to businesses with regular overseas payments.&quot;
            .profile-area.d-flex.align-items-center
              .icon-area
                img(src='assets/images/testimonials-img-1.png', alt='icon')
              .text-area
                h5 Aspen Press
                p Web Designer
        .single-slide
          .single-content
            .start-area
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
            h5.title-area Ease of Service
            p.xlr
              | &quot;The ease in transactioin is so fascinating ranging from transffering money overseas to paying for ordered stuffs online thank you Credit firm.&quot;
            .profile-area.d-flex.align-items-center
              .icon-area
                img(src='assets/images/testimonials-img-2.png', alt='icon')
              .text-area
                h5 Courtney Henry
                p Balance Studio
        .single-slide
          .single-content
            .start-area
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
            h5.title-area Transaction solutions
            p.xlr
              | &quot; i still use credit firm for my transaction solutions especially when it comes to international transfer, I mean that's there expertise
            .profile-area.d-flex.align-items-center
              .icon-area
                img(src='assets/images/testimonials-img-3.png', alt='icon')
              .text-area
                h5 Paul Howell
                p President of Sales
        .single-slide
          .single-content
            .start-area
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
              a(href='javascript:void(0)')
                i.fas.fa-star
            h5.title-area Getting paid via credit firm
            p.xlr
              | &quot;Most online Job I do for people,I get paid via the CreditFirm online banking app, this is due to there onlilne support and efficiency in transactions while they also keep you up to date
            .profile-area.d-flex.align-items-center
              .icon-area
                img(src='assets/images/testimonials-img-2.png', alt='icon')
              .text-area
                h5 Courtney Henry
                p Balance Studio
// App Download end
// FAQs In start
section.faqs-section
  .overlay.pt-120.pb-120
    .container
      .row.d-flex.justify-content-center
        .col-lg-7
          .section-header.text-center
            h5.sub-title Frequently Asked Questions
            h2.title If you got questions we have answer
            p We have a list of frequently asked questions about us
      .row.cus-mar
        .col-lg-6
          #accordionLeft.accordion
            .accordion-item
              h6#headingLeftOne.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseLeftOne', aria-expanded='false', aria-controls='collapseLeftOne')
                  | How to send money online?
              #collapseLeftOne.accordion-collapse.collapse(aria-labelledby='headingLeftOne', data-bs-parent='#accordionLeft')
                .accordion-body
                  p
                    | It has never been easier than this, All you have to do is 
                    a(href="/login")
                      |login, 
                    |or 
                    a(href="/signup")  
                      |sign Up,
                    | on your dashboard, hit the transfer button and in just few clicks your transaction would be on it's way
            .accordion-item
              h6#headingLeftTwo.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseLeftTwo', aria-expanded='false', aria-controls='collapseLeftTwo')
                  | How much are money transfer fees?
              #collapseLeftTwo.accordion-collapse.collapse(aria-labelledby='headingLeftTwo', data-bs-parent='#accordionLeft')
                .accordion-body
                  p
                    | Varies as to difference in currency while the financial market keeps flowing but we keep it at an affordable rate just for you
            .accordion-item
              h6#headingLeftThree.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseLeftThree', aria-expanded='false', aria-controls='collapseLeftThree')
                  | What is the fastest way to send money abroad?
              #collapseLeftThree.accordion-collapse.collapse(aria-labelledby='headingLeftThree', data-bs-parent='#accordionLeft')
                .accordion-body
                  p
                    | The fastest way could be with the use of crypto but to those who choose not to go through the choice as to decentralization, we've got you covered
            .accordion-item
              h6#headingLeftFour.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseLeftFour', aria-expanded='false', aria-controls='collapseLeftFour')
                  | How to use CreditFirm?
              #collapseLeftFour.accordion-collapse.collapse(aria-labelledby='headingLeftFour', data-bs-parent='#accordionLeft')
                .accordion-body
                  p
                    |Credit firm online banking app has ben created to be user friendly and understandable, we ensure that you'll have no stress using the web app
            .accordion-item
              h6#headingLeftFive.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseLeftFive', aria-expanded='false', aria-controls='collapseLeftFive')
                  | How does CreditFirm protect your money?
              #collapseLeftFive.accordion-collapse.collapse(aria-labelledby='headingLeftFive', data-bs-parent='#accordionLeft')
                .accordion-body
                  p
                    | We store our customers money with the most trusted financial institutions around the globe
        .col-lg-6
          #accordionRight.accordion
            .accordion-item
              h6#headingRightOne.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseRightOne', aria-expanded='false', aria-controls='collapseRightOne')
                  | Are money transfer apps safe?
              #collapseRightOne.accordion-collapse.collapse(aria-labelledby='headingRightOne', data-bs-parent='#accordionRight')
                .accordion-body
                  p
                    | P2P payment apps are safe and there should be no hesitancy in their security, but they're not foolproof. A mistake could cost you when sending money so we usrge you alway get in contact with our contact representative
            .accordion-item
              h6#headingRightTwo.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseRightTwo', aria-expanded='false', aria-controls='collapseRightTwo')
                  | How much money can I send?
              #collapseRightTwo.accordion-collapse.collapse(aria-labelledby='headingRightTwo', data-bs-parent='#accordionRight')
                .accordion-body
                  p
                    | There are no limits as to the time being
            .accordion-item
              h6#headingRightThree.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseRightThree', aria-expanded='false', aria-controls='collapseRightThree')
                  | Which currency can I send?
              #collapseRightThree.accordion-collapse.collapse(aria-labelledby='headingRightThree', data-bs-parent='#accordionRight')
                .accordion-body
                  p
                    | Mostly international wire transfers are been processed here at credit firm
            .accordion-item
              h6#headingRightFive.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseRightFive', aria-expanded='false', aria-controls='collapseRightFive')
                  | Can I send multiple payments?
              #collapseRightFive.accordion-collapse.collapse(aria-labelledby='headingRightFive', data-bs-parent='#accordionRight')
                .accordion-body
                  p
                    |Multiple transactions are allowed
// FAQs In end
// Footer Area Start
//- footer.footer-section
//-   .container
//-     .row.justify-content-center
//-       .col-lg-10
//-         .newsletter
//-           .section-area.mb-30.dark-sec.text-center
//-             h3.title Subscribe to Our Newsletter
//-           form(action='#')
//-             .form-group.d-flex.align-items-center
//-               input(type='text', placeholder='Your Email Address')
//-               button
//-                 img(src='assets/images/icon/arrow-right-2.png', alt='icon')
//-     .footer-area.pt-120
//-       .footer-top
//-         .row.align-items-center
//-           .col-sm-6.d-flex.justify-content-center.justify-content-sm-start
//-             .menu-item
//-               ul.footer-link.d-flex.align-items-center
//-                 li
//-                   a(href='about-us.html') About Us
//-                 li
//-                   a(href='help-center.html') Support
//-                 li
//-                   a(href='fees.html') Fees
//-           .col-sm-6
//-             .social-link.d-flex.justify-content-sm-end.justify-content-center.align-items-center
//-               a(href='javascript:void(0)')
//-                 img(src='assets/images/icon/facebook.png', alt='icon')
//-               a(href='javascript:void(0)')
//-                 img(src='assets/images/icon/linkedin.png', alt='icon')
//-               a(href='javascript:void(0)')
//-                 img(src='assets/images/icon/instagram.png', alt='icon')
//-               a(href='javascript:void(0)')
//-                 img(src='assets/images/icon/twitter.png', alt='icon')
//-       .footer-bottom
//-         .row.justify-content-between.align-items-center
//-           .col-md-6.col-sm-8.d-flex.justify-content-center.justify-content-sm-start.order-sm-0.order-1
//-             .copyright.text-center.text-sm-start
//-               p
//-                 | Copyright &copy; 2022 
//-                 a(href='index.html') CreditFirm.
//-                 |  All Rights Reserved.
//-           .col-md-6.col-sm-4
//-             .menu-item
//-               ul.footer-link.d-flex.justify-content-sm-end.justify-content-center.align-items-center
//-                 li
//-                   a(href='terms-conditions.html') Terms
//-                 li
//-                   a(href='privacy-policy.html') Privacy
// Footer Area End
// ==================================================================
script(src='assets/js/jquery.min.js')
script(src='assets/js/jquery-ui.js')
script(src='assets/js/bootstrap.min.js')
script(src='assets/js/fontawesome.js')
script(src='assets/js/plugin/slick.js')
script(src='assets/js/plugin/jquery.nice-select.min.js')
script(src='assets/js/plugin/counter.js')
script(src='assets/js/plugin/waypoint.min.js')
script(src='assets/js/plugin/jquery.magnific-popup.min.js')
script(src='assets/js/plugin/wow.min.js')
script(src='assets/js/plugin/plugin.js')
script(src='assets/js/main.js')
script(src='/js/bundle.js')